body{
    background-color: lightblue;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
}
.img_logo{
    height: 100px;
    width: 100px;

}
.a1{
    background-color: green;
    border: 3px solid green;
    border-radius: 15px;
    color: white;
    padding: 3px;

    
}
.logo, .name, .knot{
    float: left;

}
.knot{
    margin-top: 15px;
    

}
.name{
    width: 70%;
    text-align: center;
}

.btns{
    
}
.nav{
    display: inline-block;
   
}

.nav a{
    
    padding: 10px;
    background-color: black;
    
}